* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    transition: all 0.3s ease-in-out;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

main {
    padding: 1rem;
}

/* For X */
.x-mark {
    color: #007bff; /* Blue for X */
}

/* For O */
.o-mark {
    color: #ff2e63; /* Pink/Red for O */
}


@media (max-width: 600px) {
    .game {
        width: 90vmin;
        height: 90vmin;
        gap: 2vmin;
    }

    .box {
        width: 26vmin;
        height: 26vmin;
        font-size: 10vmin;
    }

    h1 {
        font-size: 6vmin;
        margin: 1rem 0;
    }

    #reset-btn,
    #new-btn {
        font-size: 1rem;
        padding: 0.8rem;
    }

    #msg {
        font-size: 6vmin;
    }

    .msg-container {
        padding: 1rem;
        text-align: center;
    }
}